@import 'variables';
@import 'mixins';
.container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding:20px;
    z-index:10;
    background-color:$background-tertiary ;

    .left{

        width: 20%;
        >a{
            >img{
                height:60px
            }
        }
        
    
    }
    
    .center{
         width: 60%;
         display: flex;
         justify-content: center;

         >div{
            display: flex;
            align-items: center;

            >span{
                color:$text-secoundary
            }
            .number{
                border: 3px solid $border-primary;
                font-size: 12px;
                border-radius: 50%;
                height: 26px;
                width: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 1px;
                padding-top: 1px ;
                margin-right: 10px;

                i{
                    display: none;
                }
            }
         }

         .space{
            width: 100px;
            height: 3px;
            background-color: $border-primary;
            margin-left: 15px;
            margin-right: 20px;

          
            
         }

        
    }


    .right{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        i{
            color:$sucess ;
            font-size: 20px ;
            margin-right: 10px;
        }


       
     }

     
    
}

